* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-section {
    background-color: #3b3939;
    overflow: hidden;
    margin: 0;
    padding: 0;
    min-height: 90vh;
}

.container {
    margin: auto;
    padding: 12px;
    width: 100%;
    max-width: 90%;
    text-align: center;
}

h1 {
    font-size: 2.75rem;
    color: #f08a5d;
}

p {
    font-size: 1.5rem;
    color: #ffcac8;
}

.slides {
    margin: 32px auto;
}

.slider-section .slick-slide {
    padding: 24px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #b83b5e;
}

.slick-slide:not(.slick-current) {
    opacity: 0.2;
}

.slick-current {
    background-color: chartreuse;
    color: #b83b5e !important;
}

.bottom-slider .slick-slide {
    margin-block: 0.5rem;
    font-size: 1.75rem;
    font-weight: 500;
}

.slick-slide {
    background-color: #c0eee4;
    color: #6a2c70;
    margin: 0 12px;
}

.slick-dots li button:before {
    color: #c0eee4;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:hover::before,
.slick-dots li button:focus::before {
    color: #f08a5d;
    opacity: 1.1;
}

.slick-next,
.slick-prev {
    width: fit-content;
    height: auto;
}

.slick-next:before,
.slick-prev:before {
    font-size: 2.5rem;
    opacity: 0.5;
    color: #f08a5d;
}

.slick-next {
    right: -40px;
}

.slick-prev {
    left: -40px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.25rem;
    }

    p {
        font-size: 1.25rem;
    }

    .slick-next {
        right: 0px;
    }

    .slick-prev {
        left: 0px;
    }
}